body {
  background-image: url(../images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-style: normal;
        font-family:fantasy;
        background-position:center;
        filter:brightness(85%);
        padding:50px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}


p {
  text-align: center;
  background-color: white;
  border-style: dashed;
  border-radius: 40px;
  width: 60%;
  margin-left: 20%;
}

h2 {
  font-weight: bolder;
  text-align: center;
  border-style: dashed;
  width:30%;
  margin-top: auto;
  margin-left: 35%;
}
h4 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  background-color: aliceblue;
}
a:hover {
  background-color:rgb(73, 192, 113);
  border-radius: 30px;
  animation-name: background-color;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes background-color {
100% {
background-color: aliceblue;
}
}
footer {
margin-bottom:0;
padding: 10px;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 320px) {
  a:hover {
    background-color: aquamarine;
  }
  
}
@media (max-width: 768px) {

a:hover {
  background-color: aquamarine;
}
}